<div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-5">
        <div class="contact">
          <div class="row text-center" style="padding:20px;">
            <div class="col-md-5 col-sm-5 col-5">
              <input id="search" type="text" class="form-control" placeholder="Search...">
            </div>
          </div>
          <div class="row text-center" style="margin:0px auto;width:100px;">
              <div class="col-md-5 col-sm-5 col-5">
               <h5>Messages</h5>
              </div>
          </div><hr>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-4">
              <img src="assets/img/avatar5.png" class="img-circle" width="50">
            </div>
            <div class="col-md-4 col-sm-4 col-4">
              <span>Gowtham</span><br>
              <span>+918682919578</span><BR>
              <span>5MIN</span>
            </div>
  
            <div class="col-md-4 col-sm-4 col-4">
                <a href="#"><i class="fa fa-phone fa-2x" style="color:white;padding:10px;" aria-hidden="true"></i></a>             
                <a href="#"><i class="fa fa-envelope-o fa-2x" style="color:white;padding:10px;" aria-hidden="true"></i></a>             
  
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-md-4 col-sm-4 col-4">
              <img src="assets/img/avatar5.png" class="img-circle" width="50">
            </div>
            <div class="col-md-4 col-sm-4 col-4">
              <span>Gowtham</span><br>
              <span>+918682919578</span><BR>
              <span>5MIN</span>
            </div>
  
            <div class="col-md-4 col-sm-4 col-4">
                <a href="#"><i class="fa fa-phone fa-2x" style="color:white;padding:10px;" aria-hidden="true"></i></a>             
                <a href="#"><i class="fa fa-envelope-o fa-2x" style="color:white;padding:10px;" aria-hidden="true"></i></a>             
  
            </div>
          </div>
          <hr>
  
            <div class="row">
              <div class="col-md-4 col-sm-4 col-4">
                <img src="assets/img/avatar5.png" class="img-circle" width="50">
              </div>
              <div class="col-md-4 col-sm-4 col-4">
                <span>Gowtham</span><br>
                <span>+918682919578</span><BR>
                <span>5MIN</span>
              </div>
    
              <div class="col-md-4 col-sm-4 col-4">
                  <a href="#"><i class="fa fa-phone fa-2x" style="color:white;padding:10px;" aria-hidden="true"></i></a>             
                  <a href="#"><i class="fa fa-envelope-o fa-2x" style="color:white;padding:10px;" aria-hidden="true"></i></a>             
    
              </div>
            </div>
            <hr>
  
        </div>
      </div>
  
      <div class="col-md-5 col-sm-5 col-5">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>